<!DOCTYPE html>
<html lang="en">
{% load  static %}
<head>
    <meta charset="UTF-8">
    <title>Portraits for soul</title>
    <link rel="stylesheet" href="{% static 'main_app_ui/css/home_page.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main_app_ui/css/portfolio.css' %}" type="text/css">
</head>
<body>
<nav>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about_artist">About artist</a></li>
        <li class="nav-item"><a class="nav-link" href="/portfolio">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link" href="/testimonials">Testimonials</a></li>
        <li class="nav-item"><a class="nav-link" href="/price">Price</a></li>
    </ul>
</nav>
<div class="wrapper">
    <section class="main">
        <header>
            <div class="header">
                <div class="logo">
                    <a href=""><img class="logo-img" src="../../static/main_app_ui/images/icons&logo/s_logo.png"
                                    alt="Logo"></a>
                </div>
            </div>
        </header>
        <div class="sign">
            <span class="fast-flicker">Port</span>raits <span class="flicker">For </span>Soul
        </div>
    </section>
</div>

{% block content %}

{% endblock %}
</body>
</html>