{% extends "ui_templates/home_page.html" %}


{% block content %}
    {% for artwork in data %}
        <div class="artwork-block-wrapper">
            <div class="artwork-block">
                <h1 class="artwork-name">{{ artwork.name }}</h1>
                <div class="artwork-image">
                    <img class="artwork-image" src="{{ artwork.photo.url }}">
                </div>
                <p class="artwork-description">{{ artwork.work_description }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}
