body {
background-color: #141114;
            background-image: linear-gradient(335deg, black 23px, transparent 23px),
            linear-gradient(155deg, black 23px, transparent 23px),
            linear-gradient(335deg, black 23px, transparent 23px),
            linear-gradient(155deg, black 23px, transparent 23px);
            background-size: 58px 58px;
            background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

.wrapper {
    max-width: 1170px;
    padding: 0 30px;
    display: block;
    margin: 0 auto;
}


ul {
    list-style-type: none;
    margin: 50px;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 24px;
}

li a:hover {
    cursor: pointer;
    color: #000000;
    border-bottom: 2px solid #0f0f0f;
    transition: .1s;
}

.sign {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    height: 50px;
    margin-top: 40px;
    letter-spacing: 6px;
    font-size: 3em;
    color: #000000;
    text-shadow: 0 0 0.5rem #484848, 0 0 1.5rem #171717,
    -0.2rem 0.1rem 1rem #919191, 0.2rem 0.1rem 1rem #6b6969,
    0 -0.5rem 2rem #313030, 0 0.5rem 3rem #252424;
    animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
    0%,
    22%,
    36%,
    75% {
        color: #000000;
        text-shadow: 0 0 0.6rem #484848, 0 0 1.5rem #171717,
        -0.2rem 0.1rem 1rem #919191, 0.2rem 0.1rem 1rem #6b6969,
        0 -0.5rem 2rem #313030, 0 0.5rem 3rem #252424;
    }
    28%,
    33% {
        color: #ABAA90FF;
        text-shadow: none;
    }
    82%,
    97% {
        color: #abaa90;
        text-shadow: none;
    }
}

.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
    0% {
        color: #1a1919;
        text-shadow: none;
    }
    100% {
        color: #000000;
        text-shadow: 0 0 0.6rem #484848, 0 0 1.5rem #171717,
        -0.2rem 0.1rem 1rem #919191, 0.2rem 0.1rem 1rem #6b6969,
        0 -0.5rem 2rem #313030, 0 0.5rem 3rem #252424;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }

    4% {
        opacity: 0.9;
    }

    6% {
        opacity: 0.85;
    }

    8% {
        opacity: 0.95;
    }

    10% {
        opacity: 0.9;
    }

    11% {
        opacity: 0.922;
    }

    12% {
        opacity: 0.9;
    }

    14% {
        opacity: 0.95;
    }

    16% {
        opacity: 0.98;
    }

    17% {
        opacity: 0.9;
    }

    19% {
        opacity: 0.93;
    }

    20% {
        opacity: 0.99;
    }

    24% {
        opacity: 1;
    }

    26% {
        opacity: 0.94;
    }

    28% {
        opacity: 0.98;
    }

    37% {
        opacity: 0.93;
    }

    38% {
        opacity: 0.5;
    }

    39% {
        opacity: 0.96;
    }

    42% {
        opacity: 1;
    }

    44% {
        opacity: 0.97;
    }

    46% {
        opacity: 0.94;
    }

    56% {
        opacity: 0.9;
    }

    58% {
        opacity: 0.9;
    }

    60% {
        opacity: 0.99;
    }

    68% {
        opacity: 1;
    }

    70% {
        opacity: 0.9;
    }

    72% {
        opacity: 0.95;
    }

    93% {
        opacity: 0.93;
    }

    95% {
        opacity: 0.95;
    }

    97% {
        opacity: 0.93;
    }

    to {
        opacity: 1;
    }
}


.main {
    display: flex;
    justify-content: space-around;
}

.nav-item {
    margin-left: 15px;
}

.nav-link link {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 30px;
    color: #22222b;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: 0.1s;
}

.logo {
    margin-left: 30px;
}

.logo-img {
    height: 150px;
    width: 150px;
}